.img_lightborder {
     border: 0.25vw solid lightgrey;
}

.content {
     display:block;
     align-items: center;
     width: 100vw;
     height: auto;

     text-align: center;
}


.title {
     font-family: 'Trirong', serif;
     font-size: 2vw;
}

.caption {
     font-family: 'Trirong', serif;
     font-size: min(1vw, 3vh);
     margin: 0%;
     margin-bottom: 1.5%;
}

.p0 {
     font-family: 'Trirong', serif;
     font-size: 1.4vw;
     margin: 0%;
     margin-bottom: 1.5%;
}

.p1 {
     font-family: 'Trirong', serif;
     font-size: 1.5vw;
     margin: 0%;
     margin-bottom: 1.5%;
}

.p2 {
     font-family: 'Trirong', serif;
     font-size: 1.7vw;
     margin: 0%;
     margin-bottom: 1.5%;
}

.p3 {
     font-family: 'Trirong', serif;
     font-size: 1.85vw;
     margin: 0%;
     margin-bottom: 1.5%;
}

.section {
     margin-bottom: 3%;
}

.section2 {
     margin-bottom: 2%;
}
