@keyframes sidebarIn {
     from {width: 0%; opacity: 0%;}
     to {width: 100%; opacity: 100%;}
}

@keyframes sidebarOut {
     from {width: 100%; opacity: 100%;}
     to {width: 0%; opacity: 0%;}
}

#sidebar {
     z-index: 1;
     position: absolute;

     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
}

.slideIn {
     animation-name: "sidebarIn";
     animation-duration: 0.8s;
}

.slideOut {
     animation-name: "sidebarOut";
     animation-duration: 0.8s;
}

#sidebar #exitArea {
     position: absolute;
     top: 0%;
     left: 20%;
     width: 80%;
     height: 100%;

     background-color: white;
     opacity: 70%;
}

#sidebar #sidebarUI {
     position: absolute;
     top: 0%;
     left: 0%;
     width: 20%;
     height: 100%;

     background-color: rgb(211, 211, 211);
}

#sidebar #sidebarUI #sidebarNav {
     user-select: none;
     overflow-y: auto;
}

.calcCourse {
     font-family: 'Trirong', serif;
     text-align: center;
}

.topic {
     font-family: 'Trirong', serif;
     text-align: left;
     padding-left: 10%;

     margin: 0%;
     margin-top: 13%;
     margin-bottom: 7%;
}

.subtopic {
     position: relative;
     font-family: 'Trirong', serif;
     text-align: right;
     padding-right: 13%;
     margin: 0%;
     margin-bottom: 1%;

     background-color: rgb(169, 169, 169);
}
