.\.img_lightborder {
     border: 0.25vw solid lightgrey;
}

#differentiation {
     display:block;
     align-items: center;
     width: 100vw;
     height: auto;

     text-align: center;
}


#differentiation .title {
     font-family: 'Trirong', serif;
     font-size: 2vw;
}

#differentiation .caption {
     font-family: 'Trirong', serif;
     font-size: min(1vw, 3vh);
     margin: 0%;
     margin-bottom: 1.5%;
}

#differentiation .p0 {
     font-family: 'Trirong', serif;
     font-size: 1.4vw;
     margin: 0%;
     margin-bottom: 1.5%;
}

#differentiation .p1 {
     font-family: 'Trirong', serif;
     font-size: 1.5vw;
     margin: 0%;
     margin-bottom: 1.5%;
}

#differentiation .p2 {
     font-family: 'Trirong', serif;
     font-size: 1.7vw;
     margin: 0%;
     margin-bottom: 1.5%;
}

#differentiation .section {
     margin-bottom: 4%;
}
